.modalWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.modalWrap.hidden {
  display: none;
}
.modalWrap .modal {
  width: 50%;
  margin: 20% auto;
  padding: 16px;
  height: 60%;
  background: #fff;
  border-radius: 10px;
}

.modalWrap .modal .modalClose {
  float: right;
  font-size: 14px;
  cursor: pointer;
}
