.editor {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 16px;
  width: 50%;
  height: 100%;
  background: #263238;
}

.editor .react-codemirror2,
.editor .CodeMirror {
  height: 100%;
}
.editor .codemirror {
  height: 95%;
}
