.codemirror {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 16px;
  width: 50%;
  height: calc(100% - 36px);
  background: #263238;
}

.codemirror .react-codemirror2,
.codemirror .CodeMirror {
  height: 100%;
}
.codemirror .codemirror {
  height: 95%;
}
